<div class="form">
  <h1>Sign in</h1>
  <%= form_with(url: session_path) do |f| %>
    <%= f.label :email_or_username%>
    <%= f.text_field :email_or_username, autofocus: true, required: true %>

    <%= f.label :password %>
    <%= f.password_field :password , required: true %>

    <%= f.submit "Sign In" %>
    <% end %>
</div>
<div class="mt-2">
   Dont have an account? <%= link_to 'Sign-up', sign_up_path %>
</div>



